<section class="competition-section">
  <h2>Select your competition parameters</h2>
  <div class="competition-div">
    <%= form_for button_action_path, method: :post do |f| %>
      Calories: <%= f.text_field 'calories' %><br />
      Miles: <%= f.text_field 'miles' %><br />
      Start Date: <%= f.date_field 'start_date' %><br />
      End Date: <%= f.date_field 'end_date' %><br />
      <%= submit_tag "Call Action" %>
    <% end %>
  </div>
</section>
