<section class="competition-show-section">
  <h2>What are we tracking?</h2>
  <div class="tracking-div">
    <p>Miles?: <% @competition.miles %>
      <% if @competition.miles == false %>
      Nope!
      <% else %>
      You Betcha!
      <% end %>
    </p>
    <p>Steps?: <% @competition.steps %>
      <% if @competition.steps == false %>
      Nope!
      <% else %>
      You Betcha!
      <% end %>
    </p>
    <p>Calories?: <% @competition.calories %>
      <% if @competition.calories == false %>
      Nope!
      <% else %>
      You Betcha!
      <% end %>
    </p>
  </div>
    
    <%= link_to "Fetch Latest Stats",     fetch_stats_competition_path %>
    </section>
    
    <%= line_chart [
  {name: "Steps", data: @competition.stats.group(:recorded_at).sum(:steps)},
  {name: "Calories", data: @competition.stats.group(:recorded_at).sum(:calories)},
  {name: "Miles", data: @competition.stats.group(:recorded_at).sum(:miles)}
] %>



<section class= 'stat-section'>
    Stats:
    <% @competition.users.each do |user| %>
      <div class="stat-div">
        <p>
        Name: <%= user.first_name %><% ' ' %> <%= user.last_name %>
        <br />
        <% user.stats_for_competition(@competition).each do |stat| %>
        Steps: <%= stat.steps %>
        <br />
        Miles: <%= stat.miles %>
        <br />
        Calories: <%= stat.calories %>
        <br />
        When: <%= stat.recorded_at %>
        </p>
      </div>
    <% end %>
  <% end %>
  <%= link_to "Get Latest Stats",     fetch_stats_competition_path %>
</section>
    

