<section>
  <h2>What are we tracking?</h2>
  <div class="tracking-div">
    <p>Miles?: <% @competition.miles %>
      <% if @competition.miles == false %>
      Nope!
      <% else %>
      You Betcha!
      <% end %>
    </p>
    <p>Steps?: <% @competition.steps %>
      <% if @competition.steps == false %>
      Nope!
      <% else %>
      You Betcha!
      <% end %>
    </p>
    <p>Calories?: <% @competition.calories %>
      <% if @competition.calories == false %>
      Nope!
      <% else %>
      You Betcha!
      <% end %>
    </p>
  </div>

Your stats:

<% @competition.stats.each do |stat| %>
  <div class="stat-div">
    <p>
    Name: <%= stat.user.first_name %>
    <br />
    Steps: <%= stat.steps %>
    <br />
    When: <%= stat.recorded_at %>
    </p>
  </div>
<% end %>

<%= link_to "Fetch Latest Stats", fetch_stats_competition_path %>

<%= line_chart @competition.stats.group(:recorded_at).sum(:steps) %>



</section>
