<section class="competition-show-section">
  <h2>Get Active!</h2>
  <div class="tracking-div">
    <p>Miles?: <% @competition.miles %>
      <% if @competition.miles == false %>
      Nope!
      <% else %>
      You Betcha!
      <% end %>
    </p>
    <p>Steps?: <% @competition.steps %>
      <% if @competition.steps == false %>
      Nope!
      <% else %>
      You Betcha!
      <% end %>
    </p>
    <p>Calories?: <% @competition.calories %>
      <% if @competition.calories == false %>
      Nope!
      <% else %>
      You Betcha!
      <% end %>
    </p>
  </div>
</section>

<div>
    <%= line_chart [
  {name: "Steps", data: @competition.stats.group(:recorded_at).sum(:steps)},
  {name: "Calories", data: @competition.stats.group(:recorded_at).sum(:calories)},
  {name: "Miles", data: @competition.stats.group(:recorded_at).sum(:miles)}
] %>
</div>

<section class= 'stat-section'>
    <% @competition.users.each do |user| %>
    <div class="stat-column">
      <% user.stats_for_competition(@competition).each do |stat| %>
      <div class="stat-div">
        <p>
        Name: <%= user.first_name %><% ' ' %> <%= user.last_name %>
        <br />
        Steps: <%= stat.steps %>
        <br />
        Miles: <%= stat.miles %>
        <br />
        Calories: <%= stat.calories %>
        <br />
        When: <%= stat.recorded_at %>
        </p>
      </div>
      <% end %>
    </div>
  <% end %>
</section>
