<section class="user-section">
  <div class="user-div">
    <div class="name-div">
      <% if @user.avatar.attached? %>
        <%= image_tag user.avatar.variant(resize: "100x100") %>
      <% else %>
        <%= image_tag('aquachara-458327-unsplash.jpg', size: '100x100', class: 'avatar') %>
      <% end %>
      <div class="name-buttons-div">
        <h3><%= @user.first_name %><%= ' ' %><%= @user.last_name %></h3>
        <%= button_to "Fitbit Sign In", "/auth/fitbit", class: 'fitbit-button' %>
        <%= button_to "Strava Sign In", "/auth/strava", class: 'strava-button' %>
        <%= button_to "Go Compete!", "/competitions/new" %>
      </div>
    </div>
  </div>
</section>


