<!DOCTYPE html>
<html>
  <head>
    <title>Wecompete</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Karla" %>
  </head>
  <body>
    <header>
      <div>
        <%= image_tag( "trophy.svg", class: "head-logo", height: "25") %>
        WeCompete
      </div>
      <nav>
        <%= link_to 'Strava', '/auth/strava' %>
        <%= link_to 'Fitbit', '/auth/fitbit' %>
        <%= link_to 'Compete!', '/competition/create' %>
        <%= link_to 'About', '/about' %>
        <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
        <% else %>
          <%= link_to('Login', new_user_session_path)  %>  
        <% end %>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div>
        <%= image_tag( "trophy.svg", class: "head-logo", height: "25") %>
        WeCompete
      </div>
      <p class="footer-tagline">
        Crossing platforms to bring athletes together
      </p>
      <h6 class="copyright">
        Copyright 2018, Caleb McQuaid
      </h6>
    </footer>
  </body>
</html>
